/*
#######################################
FORMULARIO:
#######################################
*/

/* Input effects */
.group-form {
  height: 45px;
  margin-top: 60px;
  position: relative;
}

.form-3 .group-form {
  margin-top: 30px;
  position: static;
}

input.input-type-1, input.input-type-2, input.input-type-3 {
  border: none;
  border-bottom: 1px solid #E1E0E1;
  color: #4A4D4A;
  display: block;
  font-size: 15px;
  font-weight: 300;
  outline: 0;
  padding: 10px 0;
  width: 100%;
}

input:focus[type="password"], input:valid[type="password"] { font-size: 14px;  }

input.input-type-1:focus~label, input.input-type-1:valid~label, .input-type-2~label {
  top: -20px;
  font-size: 12px;
  font-weight: 300;
  color: #B4B2B5;
  border-bottom: 0;
}

label {
  color: #4A4D4A;
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2em;
  position: absolute;
  top: 10px;
  transition: 0.2s all;
}

.bar {
  display: block;
  position: relative;
  width: 100%;
}

.bar:before {
  background: #a48ad5;
  content: '';
  bottom: 1px;
  height: 2px;
  position: absolute;
  transition: 0.2s all;
  width: 0;
}

.bar:before { left: 0%; }
input:focus~.bar:before, input:focus~.bar:after { width: 100%; }

.input-icon {
  font-size: 15px;
  width: 35px;
}



/*Button*/
.button-bg {
  background-color: black;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  opacity: .7;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 3px #bbb;
}

.button-bg.success { background-color: #2ecc71; }
.button-bg.important { background-color: #3498db; }
.button-bg.warning { background-color: #f1c40f; }
.button-bg.failed { background-color: #e74c3c; }

.button-bg:hover {
  opacity: 1;
}

.button-ln {
  background: transparent;
  border-radius: 3px;
  border: 1px solid;
  cursor: pointer;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.button-ln:hover {
  color: white;
  transition: all .2s ease;
}
.button-ln.success:hover { background-color: #2ecc71; }
.button-ln.important:hover { background-color: #3498db; }
.button-ln.warning:hover { background-color: #f1c40f; }
.button-ln.failed:hover { background-color: #e74c3c; }
