i { font-size: 24px; }


/*************************/
/********* RESET *********/
/*************************/
* {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
}
html, body, div, span, a, img, h1, h2, p, ul, li {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: inherit;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  vertical-align: baseline;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

svg:not(:root) { overflow: hidden; }
::-webkit-input-placeholder {
  color: #b9b9b9;
  font-size: inherit;
  line-height: 1.8;
}
:-moz-placeholder {
  color: #b9b9b9;
  font-size: inherit;
  line-height: 1.8;
}
::-moz-placeholder {
  color: #b9b9b9;
  font-size: inherit;
  line-height: 1.8;
}
:-ms-input-placeholder {
  color: #b9b9b9;
  font-size: inherit;
  line-height: 1.8;
}
a[href^=tel]{
  color:inherit;
  text-decoration:none;
}
input { -webkit-user-select: auto; }
img { -ms-interpolation-mode: bicubic; }
small {
  color: #fff;
  font-size: 13px;
}
:link, :hover, :active, :focus, :visited { outline: 0; }
::-webkit-selection {
  background: #ccc;
  color: #fff;
}
::-moz-selection {
  background: #ccc;
  color: #fff;
}
::selection {
  background: #ccc;
  color: #fff;
}
textarea, input[type="text"], input[type="number"], input[type="email"] { -webkit-appearance: none; }
.left{ float: left; }
.right{ float: right; }
.align-left{ text-align: left; }
.align-right{ text-align: right; }
.align-center{ text-align: center; }
.helper{
  display: inline-block;
  height:100%;
  vertical-align: middle;
  width: 0;
}
.vertical_top { vertical-align: top !important; }
.vertical_middle { vertical-align: middle !important; }
.vertical_bottom { vertical-align: bottom !important; }
.display-table { display: table; width: 100%; height: 100%; }
.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.display-table-row {
  display: table-row;
  vertical-align: middle;
  width: 100%;
}
.display-inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
.clearfix:after {
  clear:both;
  content: "";
  display: table;
}
.container {
  margin: 0 auto;
  max-width: 1070px;
  padding: 0 15px;
}
.container-galeria {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;
}



/*
#######################################
GENERALES:
#######################################
*/

html, body{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
html.active, body.active{min-height: 100%; height: 100%;}
html.overflow, body.overflow{min-height: 100%; height: 100%; overflow: hidden;}
html, body, input, textarea{
  font-family: 'TitilliumWebRegular',
  sans-serif;
  font-size: 19px;
  line-height: 1.3em;
  color: #181818;
}
a, button{color: inherit; font: inherit; }
a:hover{color: #DF570B; }
h2{line-height: inherit; }
h3{font-weight: 300; }
.pt_0{padding-top: 0 !important; }
.pb_0{padding-bottom: 0 !important; }
.mt_0{margin-top: 0 !important; }
.mb_0{margin-bottom: 0 !important; }
body{padding-top: 90px; }
.view-content { padding-left: 250px; }

/*
#######################################
HEADER:
#######################################
*/

.toolbar {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  padding: 30px;
  position: fixed;
  top: 0;
  width: 100%;
}
.toolbar .bar-menu { margin-right: 25px; }
.toolbar .logo img {
  width: 170px;
  text-align: center;
  padding-left: 20px;
  border-left: 1px solid #e7eaec;
}
.content {
  background-color: #F6F6F6;
  padding: 30px;
}

/*
#######################################
MENU HEADER:
#######################################
*/
.menu-header { display: none; }
.menu-header-item {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.menu-header-item:last-child { margin-right: 0; }
.menu-header i { font-size: 20px; }
.counter {
  background-color: #f44336;
  border-radius: 2px;
  color: white;
  padding: 1px 5px;
  position: absolute;
  top: -7px;
  right: -8px;
}
i.counter {
  font-size: 10px;
  line-height: 15px;
}

@media screen and (min-width: 768px) {
  .menu-header { display: block; }
  .menu-header-mobile { display: none; }
}

/*
#######################################
BREAD CRUMB:
#######################################
*/
.bread-crumb {
  padding: 15px 30px;
  border-bottom: 1px solid #e7eaec;
}
.bread-crumb-item i { font-size: 14px; }
.bread-crumb-item span, .bread-crumb-item a { padding-right: 15px; }
.bread-crumb-item {
  display: inline-block;
  font-size: 14px;
  padding-left: 10px;
}
.bread-crumb-item::after {
  content: "/";
  color: #ddd;
}
.bread-crumb-item:last-child span {
  color: #000;
  font-weight: 800;
}
.bread-crumb-item:last-child::after {
  content: "";
}


/*
#######################################
CARD:
#######################################
*/

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  padding: 30px;
}
.card-header {
  border-bottom: 3px solid #f4f4f4;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.card-header h2 {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
.tagline {
  color: #b1afb0;
  font-size: 15px;
  font-weight: 800;
}
.card-content { font-size: 16px; }

/*
#######################################
SIDENAV:
#######################################
*/

.sidenav {
  background-color: #30323f;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 250px;
  z-index: 10;
}